@font-face {
	font-family: 'MonumentGrotesk';
	src: url('./lib/fonts/MonumentGrotesk-Regular.otf');
}
:root {
	font-family: 'MonumentGrotesk', sans-serif;
}
body {
	margin: 0;
	background-color: white;
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
